registry=https://hasan-packages-109158437051.d.codeartifact.us-east-1.amazonaws.com/npm/cdktf-demo-lib/
//hasan-packages-109158437051.d.codeartifact.us-east-1.amazonaws.com/npm/cdktf-demo-lib/:always-auth=true
//hasan-packages-109158437051.d.codeartifact.us-east-1.amazonaws.com/npm/cdktf-demo-lib/:_authToken=${CODEARTIFACT_AUTH_TOKEN}